.about {
  background-color: rgb(226, 28, 33);
  color: black;
  font-family: "Questrial", sans-serif;
}
.about h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.about h2 {
  margin-top: 1rem;
}

.about p {
  font-size: 1.5rem;
  margin: 3rem;
  margin-bottom: 5rem;
}
